*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: #f4f7f6;
    color: #333;
    padding: 0;
    margin: 5px;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  header>h1{
    margin-bottom: 0;
  }
  
  nav a {
    margin: 2px;
    padding: 2px;
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
    font-size: 15px;
  }

main{
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 70%;
    margin: 3rem;
    margin-inline: auto;
}

h1{
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    margin-bottom: 1.2rem;
    padding: 0.7rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    padding: 0.7rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

button:hover{
    background-color: #2980b9;
}

p>a{
    text-decoration: none;
}

footer{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
  }
